#signupForm {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

#signupSubmitButton {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    width: 120px;
    background-color: rgb(255, 77, 0);
    color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#signupHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}