/* #singleSong {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
} */

/* body {
    margin: 0px;
} */

.songPage {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* padding: 25px; */
    margin-left: auto;
    margin-right: auto;
    height: 1100px;
    width: 1100px;
    background-color: white;
}

#songContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, gray, black);
    margin-left: 0px;
    margin-right: 0px;
}

#songInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin: 0px 10px;
}

#songStuff {
    display: flex;
    flex-direction: column;


    align-items: flex-start;
    /* width: 100px; */
    
}

#withPlay {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#outterPlayIcon {
    margin-top: 20px;
    margin-left: 20px;
    background-color: none;
}

#songTitle {
    display: flex;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;

    font-size: 18px;
}

#songArtist {
    background-color: black;
    color: white;
    margin-left: 5px;
    padding: 5px;

    font-size: 14px;
}

#songDescription {
    display: flex;
    align-items: center;
    background-color: gray;
    color: white;
    margin-top: 45px;
    margin-left: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 15px;

    font-size: 14px;
}

#songButtons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 5px;
    border-bottom: .5px solid lightgray;
}

/* #spUpdateSongButton{
    margin: 5px;
    width: 75px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 2px;
} */

#deleteSongButton{
    margin: 5px;
    width: 70px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 2px;
}

#deleteSongButton:hover {
    border: 1px solid lightgray;
}

/* #spUpdateSongButton:hover {
    border: 1px solid lightgray;
} */