/* #singleSong {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
} */

/* body {
    margin: 0px;
} */

.songPage {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* padding: 25px; */
    margin-left: 25%;
    margin-right: 25%;
    height: 100vh;
    background-color: white;
}

#songContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, gray, black);
    margin-left: 0px;
    margin-right: 0px;
}

#songTitle {
    display: flex;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15%;
    padding: 5px
}

#songDescription {
    display: flex;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15%;
    padding: 5px
}

#songButtons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 25px;
}

#spUpdateSongButton{
    margin: 5px;
    width: 75px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 2px;
}

#deleteSongButton{
    margin: 5px;
    width: 70px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: .5px solid lightgray;
    border-radius: 2px;
}

#deleteSongButton:hover {
    border: 1px solid lightgray;
}

#spUpdateSongButton:hover {
    border: 1px solid lightgray;
}