/* TODO Add site wide styles */
h1 {
    background-color: orange;
}

h2 {
    background-color: burlywood;
}

#songDiv {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

.song {
    padding: 5px;;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 150px;
}