/* TODO Add site wide styles */
h1 {
    background-color: orange;
}

h2 {
    font-weight: 100;
}

#songDiv {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    /* background-color: lightgrey; */
    padding: 5px;
    padding-left: 0px;
}

.song {
    padding: 8px;
    
}

#mainAudio {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;   
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0px;
    /* margin-left: 18%;
    margin-right: 18%; */
}

.Page {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 25px;
    margin-left: 25%;
    margin-right: 25%;
    bottom: 0px;
    background-color: white;
}
/* #mainNav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 5px;
    margin-left: 0%;
    margin-right: 0%;
} */
/* #mainContent a {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 5px;
    margin-left: 18%;
    margin-right: 18%;
} */