/* TODO Add site wide styles */
h1 {
    background-color: orange;
}

h2 {
    font-weight: 100;
}

#songDiv {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    background-color: lightgrey;
}

.song {
    padding: 5px;;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px 300px;
}