#navUl {
    padding: 5px;
    background-color: rgb(63, 63, 63);
    position: sticky;
    top: 0px;
    margin: 0px;
}

#navUl > li {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
    top: 0px;

    font-size: 14px;
    color: lightgray;
    
}

#homeLink {
    text-decoration: none;
    color: lightgray;
    /* padding-right: 100px;
    border-right: 1px solid black; */
}

#uploadLink{
    text-decoration: none;
    color: lightgray;
}

#homeLink:hover {
    color: white;
}

#uploadLink:hover {
    color: white;
}

/* #uploadLink {
    display: flex;
    justify-content: start;
    align-items: start;
} */

